
#tt {
  animation: move 1s forwards;
  opacity: 0;
}

@keyframes move {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.translate-x-32 {
          transform: translateX(8rem); /* Right */
        }
        .-translate-x-32 {
          transform: translateX(-8rem); /* Left */
        }
        .translate-x-0 {
          transform: translateX(0);
        }
        .opacity-0 {
          opacity: 0;
        }
        .opacity-100 {
          opacity: 1;
        }
        .translate-y-10 {
          transform: translateY(40px);
        }
        .translate-y-0 {
          transform: translateY(0px);
        }
        .opacity-0 {
          opacity: 0;
        }
        .opacity-100 {
          opacity: 1;
        }
.translate-y-10 {
          transform: translateY(40px);
        }
        .translate-y-0 {
          transform: translateY(0px);
        }
        .opacity-0 {
          opacity: 0;
        }
        .opacity-100 {
          opacity: 1;
        }
